extends lay.pug

block content
    #han(width=500)
        // <div id="han" width="500"></div>
        span.express.nodejs
        //<span class="express nodejs"></span>
        button(type='submit') 전송
        //<button type='submit'>전송</button>
        if variable
            div true
        else
            div false
        for i in fruits
            div=i
        p
            | hello
            | write several line
            br
            | add tag in the middle

block script
    script.
        var message = 'pug';
        alert(message);